:root {
--accent-color: #2196f3;
--secondary-text-color: #757575;
--main-text-color: #212121;
--accent-text-color: #2196F3;
--white-color: #FFFFFF;
--main-btn-color:#F5F4FA;
--dark-grey-color:#2F303A;
--black-color:#000000;
}

body {
background-color: var(--main-background-color);
color: var(--main-text-color);
font-family: "Roboto"; sans-serif;}

.list {
  list-style: none;
}
.link {
  text-decoration: none;

}
.btn {
  font-family: inherit;
  border: none;
  cursor: pointer; 
}
  

/* top-line */

.top {
    background-color: var(--white-color);
}
.top-nav {
font-weight: 600;
font-size: 14px;
line-heght: 1.14;
letter-spacing: 0.02em;
}
.top-logo {
font-family: "Raleway"; sans-serif;
color: var(--black-color);
font-weight: 700px;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.top-logo-part {
color: var(--accent-color);
}

.top-accent {
color: var(--accent-color)}
.top-link {
font-style: normal;
color: var(--main-text-color);
 
}
.current {
color: var(--accent-text-color);
}
.top-mail {
color: var(--accent-text-color);}

.top-mail:hover,
.top-mail:focus {
color: var(--accent-text-color);
}
   
.top-tel {
color: var(--secondary-text-color);
}
.top-contacts {
font-weight: 600;
font-size: 14px;
line-heght: 1.14;
letter-spacing: 0.02em;
}


/*index*/
.header {
background-color: var(--dark-grey-color);
}
.header-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
color: var(--white-color);
background-color: var(--dark-grey-color);
}

.header-btn:hover, .header-btn:focus
{
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--white-color);
background-color: var(--accent-color);
}

.features {
background-color: var(--main-background-color);
}
.visually-hidden {
color: var(--main-background-color);
}

.features-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03;
color: var(--main-text-color-);

}
.features-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03;
color: var(--secondary-text-color-);
}

.about {
background-color: var(--main-background-color);
}
.about-title {
font-weight: 700;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.03;
color: var(--main-text-color-);
}

.team {
background-color: var(--main-btn-color);  
}
.team-title {
font-weight: 700;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.03;
color: var(--main-text-color-);
}

.team-item {
background-color: var(--white-color);
}

.team-name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03;
color: var(--main-text-color-);
}

.team-description {
font-weight: 400;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--secondary-text-color-);
}
/*footer*/
.address {
background-color: var(--dark-grey-color);
color: var(--white-color);
letter-spacing: 0.03em;
}
.address-link {
font-style: normal;
color: var(--white-color);
}
.address-logo {
font-family: "Raleway"; sans-serif;
font-style: 700;
font-size: 26px;
line-height: 1.19;
}
.address-logo-part {
font-family: "Raleway"; sans-serif;
color: var(--accent-text-color);
}
.address-list {
color: var(--white-color);
font-weight: 400;
font-size:14px;
Line-height: 1.71;
letter-spacing: 0.03em;
font-style:normal;
}

.mail-link {
color: rgba(255, 255, 255, 0.6);
font-style: normal;
}
.tel-link {
color: rgba(255, 255, 255, 0.6);
font-style: normal;
}

/*portfolio*/
.filters {
background-color: var(--white-color);
color: var(--main-text-color);
font-weight: 600;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;

}

.filters-main-btn {
color: var(--white-color);
background-color: var(--accent-color);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
}

.filters-btn {
background-color: var(--main-btn-color);
color: var(--main-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
}

.project-link.link {
text-decoration: none;
}

.project-title {
color: var(--main-text-color);
font-style: 700;
Font-size: 18px;
line-height: 2;
Letter-spacing: 0.06em;
}

.project-description {
color: var(--secondary-text-color);
font-style: 400;
Font-size: 16px;
line-height: 1.87;
Letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


